.conf-header {
    font-family: "Poppins";
    font-size: 85px;
    animation: fadeIn 5s;
}

/* fade in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.custom-nav {
    background-color: rgb(67, 131, 144);
}

.custom-footer {
    background-color: rgb(67, 131, 144);
}

a:hover {
    color: rgb(67, 131, 144) !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}