
.wrapper{
width: 50%;
background-color:  rgb(71, 132, 145);
margin: 20px auto;
padding:0 10px;
box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
border-radius: 15px;
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
}
.wrapper .form{
    width: 100%;
}

.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.wrapper .form .input_field label{
width: 100%;


}
.conf-header {
    font-family: "Poppins";
    font-size: 85px;
    animation: fadeIn 5s;
}

/* fade in animation */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.custom-nav {
    background-color: rgb(67, 131, 144);
}

.custom-footer {
    background-color: rgb(67, 131, 144);
}

a:hover {
    color: rgb(67, 131, 144) !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.register-button:hover {
    text-decoration: none;
}